/*
Theme Name:		 PageBolt Child
Theme URI:		 https://pagebolt.uicore.co/
Description:	 Child theme for PageBolt - Landing Page WordPress Theme
Author:			 UiCore
Author URI:		 https://uicore.co
Template:		 pagebolt
Version:		 1.0.0
Text Domain:	 pagebolt
*/


/* Add your custom style here */
