<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} | Micepad</title>
  <meta name="description" content="{{ description }}">
  <link rel="canonical" href="https://micepad.co{{ path }}">
  <link rel="icon" href="/uploads/2023/07/cropped-micepad-favicon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{> header }}

  <main>
    {{{ content }}}
  </main>

  {{> footer }}

  <script src="/js/main.js"></script>
</body>
</html>
